body{
  font-family: 'Muli', sans-serif;

}

/* .completed{
}

.not-completed{
} */

span.low, span.medium, span.high {
  margin: 10px;
  padding: 5px;
  max-width:50px;
}

.low{
  border-style:solid;
  border-width: 1px;
  border-color: green;
  margin: 10px;
  padding: 5px;
  max-width:300px;
}

.medium{
  border-style:solid;
  border-width: 1px;
  border-color: orange;
  margin: 10px;
  padding: 5px;
  max-width:300px;
}

.high{
  border-style:solid;
  border-width: 1px;
  border-color: red;
  margin: 10px;
  padding: 5px;
  max-width:300px;
}
